.News-list-empty {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
}

.News-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85px;
    margin-bottom: 5px;
    background: rgb(236, 236, 236);
}

.News-list-items-title {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin: 0;
    padding: 5px 20px 20px 2px;
    text-align: center;
}

.News-list-items-title-en {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    margin: 0;
    padding: 0 20px 20px 5px;
    text-align: center;
}

.News-list-items-desc {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 3px;
}

.News-list-items-desc-from {
    font-size: 12px;
    left: 5px;
}

.News-list-items-desc-date {
    font-size: 10px;
    right: -10px;
}

.News-list-pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.News-list-pagination-text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.am-pagination-wrap {
    font-size: 16px;
}

.am-button {
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

