.SelfCenter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    padding: 2px 8px;
}

.SelfCenter-info {
    flex-grow: 1;
    padding-bottom: 10px;
}

.SelfCenter-comment {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.SelfCenter-comment-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.SelfCenter-comment-more {
    align-self: flex-end;
    color: green;
}

.SelfCenter-footer {
    width: 100%;
    align-self: flex-end;
}
