.App-tab {
    display: flex;
    flex-direction: column;
    width:'100%';
    height:'100%';
}

.App-tab-content {
    flex-flow: 1;
    padding: 2px 5px 5px 2px;
}

.App-tab-bottom-bar {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #108ee9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.App-tab-bottom-bar-selected-item {
    color:#ff0;
}

.am-tab-bar-bar {
    margin-top: 0;
}

.am-tab-bar-tab-title {
    margin-top: 0;
}

.App-TopNav {
    z-index: 500;
    top: 0;
    width: 100%;
}

.App-TopNav-logo {
    width: auto;
    height: 65%;
}

.App-TopNav-avatar {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 40px;
    background-position: center center;
}