.am-modal-content {
      padding: 0px !important;
      border: 0px;
      background-clip: padding-box;
}

.am-modal-body {
      padding: 0px !important;
      line-height: 2 !important;
}

.splash-content {
  position: relative;
  width: 270px;
  height: 325px;
}
.splash-image {
  position: absolute;
  left: 0;
  width: 270px;
  height: 325px;
}
.splash-title {
  position: absolute;
  width: 270px;
  text-align: center;
  top: 0;
  z-index: 500;
  color: black;
  font-weight: 800;
}